:root {
    --f-primary-100: #1B4F72;
    --f-primary-200: #1A5276;
    --f-primary-300: #1F618D;
    --f-primary-400: #2471A3;
    --f-primary-500: #2980B9;
    --f-primary-600: #5499C7;
    --f-primary-700: #7FB3D5;
    --f-primary-800: #A9CCE3;
    --f-primary-900: #D4E6F1;
}
